#compromiso-reciclaje {
  .card-compromiso {
    display: flex;
    flex-direction: column-reverse;
    &__title {
      width: 85px;
      line-height: 1.35;
    }

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .video-compromiso {
    div:has(> video) {
      &::before {
        content: none;
      }
    }
  }
}
