#trabaja-beneficios {
  .accordion-item {
    .txt {
      font-size: 18px;
    }
  }
  .accordion-collapse {
    display: none;
  }
  .image-main {
    div:has(> img) {
      text-align: center;
      @media (min-width: 992px) {
        text-align: right;
      }
    }
    img {
      width: 100%;
      max-width: 280px;
      @media (min-width: 768px) {
        max-width: 360px;
      }
      @media (min-width: 992px) {
        max-width: 90%;
      }
    }
  }
}
