#trabaja-formulario {
  overflow: hidden;
  .image-1 {
    bottom: 410px;
    img {
      max-height: initial;
      height: initial;
      // opacity: 0.8;
      opacity: 0.65;
    }
    @media (min-width: 1200px) {
    }
  }
  .contact-form-convocatoria {
    span:has(> input[type*="checkbox"]) {
      display: flex;
      column-gap: 7px;
      margin-left: 0;
      align-items: flex-start;
      @media (min-width: 768px) {
        align-items: center;
      }
    }
    input[type*="checkbox"] {
      width: initial;
      margin-top: 3px;
      @media (min-width: 768px) {
        margin-top: 0;
      }
      + span {
        line-height: 1.25;
      }
    }
  }
  textarea {
    height: 90px;
  }
}
