.text-azul-sorsa {
  color: $azul-sorsa !important;
}
.text-gris-sorsa-01 {
  color: $gris-sorsa-01 !important;
}
.text-amarillo-sorsa {
  color: $amarillo-sorsa !important;
}
// Background
.bg-azul-sorsa {
  background-color: $azul-sorsa !important;
}
.bg-gris-sorsa-01 {
  background-color: $gris-sorsa-01 !important;
}
.bg-amarillo-sorsa {
  background-color: $amarillo-sorsa !important;
}
